:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(238, 77, 45);
    --border-color: #dbdbdb;
    --header-height: 120px;
    --narbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--narbar-height));
    --star-gold-color: #ffce3e;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grip__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;
}

.grip__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    position: relative;
    animation: growth linear 0.1s;
}

.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: #fff;
}

.btn.btn--disabled {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.pagiantion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagiantion-item {
    list-style: none;
    margin: 0 12px;
}

.pagiantion-item__link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}

.pagiantion-item--active .pagiantion-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagiantion-item--active .pagiantion-item__link:hover {
    opacity: 0.8;
}